.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  height: 100vh;
  text-align: center;
  background: #e0dede;
}

.code-editor {
  height: 15rem;
  width: 70%;
  margin-top: 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
}

button {
  display: inline-block;
  margin: 2rem 0;
  padding: 0.75rem 4rem;
  cursor: pointer;
  background: #abadb0;
  font-size: 0.9rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
}
