.app {
  display: flex;
  flex-direction: column;
  padding: 5rem 10rem;
  height: 100vh;
  background: #e0dede;
}

.code-editor {
  margin-top: 1rem;
}

button {
  display: inline-block;
  margin: 0.5rem 0 2rem 0;
  padding: 0.75rem 4rem;
  cursor: pointer;
  background: #000;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  border: none;
}
